@use "styles/colors";

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item {
  cursor: pointer;

  border: 1px solid transparent;
  border-radius: 8px;

  &:hover {
    border-color: #{colors.$purple-5};
  }
}

.active {

  border-color: #{colors.$purple-2};
}