@use 'styles/colors';

.root {
  --card-bg: #{colors.$grayscale-100};
  --card-border-radius: 8px;
  --card-padding: 24px;
  --card-box-shadow-color: rgba(102, 78, 200, 0.1);

  background-color: var(--card-bg);
  border-radius: var(--card-border-radius);
  box-shadow: -0px 12px 32px var(--card-box-shadow-color);
  padding: var(--card-padding);
}

.dropdown {
  box-shadow: none;
}
