.container {
  display: flex;
  gap: 40px;
  padding: 40px;
}

.content {
  display: flex;
  flex-grow: 1;
  gap: 40px;
  flex-wrap: wrap;
  flex-basis: 50%;
}

.empty-card {
  align-items: center;
  display: flex;
  flex-grow: 1;
  height: 100%;
  justify-content: center;
}