@use 'styles/colors';
@use 'styles/variables';

.root {
  --layout-root-bg: #{colors.$grayscale-98};

  background-color: var(--layout-root-bg);
  display: flex;
  flex-direction: column;
  grid-area: content;
  height: calc(100vh - #{variables.$header-height});
  overflow: auto;
}
