@use "styles/colors";

.card {
  flex-grow: 2;
  height: 100%;
  padding: 0;
}

.header {
  align-items: center;
  border-bottom: 1px solid #{colors.$grayscale-95};
  display: flex;
  justify-content: space-between;
  padding: 20px 24px;
}

.content {
  padding: 20px 24px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 40px;
}

.award-container {
  align-items: center;
  border-top: 1px solid #{colors.$purple-5};
  display: flex;
  gap: 46px;
  justify-content: flex-end;
  padding: 10px 24px;
  width: 100%;
}

.dialog-description {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.dialog-content {
  width: 33%;
}

.pending {
  background: rgba(240, 152, 25, 0.1);
  border-color: #{colors.$orange-2};
  border-radius: 8px 0px 0px 0px;
  border-style: solid;
  border-width: 1px 0px 0px 1px;
  padding: 14px 80px;
}

.success {
  background: rgba(86, 171, 47, 0.1);
  border-color: #{colors.$green-1};
  border-radius: 8px 0px 0px 0px;
  border-style: solid;
  border-width: 1px 0px 0px 1px;
  padding: 14px 80px;
}

.bottom-container {
  display: flex;
  justify-content: flex-end;
}