@use "styles/colors";

.card {
  padding: 0;
}

.header {
  align-items: center;
  border-bottom: 1px solid #{colors.$grayscale-30};
  display: flex;
  justify-content: space-between;
  padding: 16px 20px;
}

.proposal-icon {
  --icon-size: 40px;
}

.title-container {
  align-items: center;
  display: flex;
  gap: 12px;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.description-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 20px;
}

.content-header {
  display: flex;
  gap: 6px;
}

.dao-name-container {
  align-items: center;
  display: flex;
  gap: 10px;
}

.avatar {
  height: 24px;
  width: 24px;
}

.status-container {
  align-items: center;
  display: flex;
  gap: 4px;
}

.status-icon {
  height: 8px;
  width: 8px;
}

.icon-active {
  color: #{colors.$blue-1};
}

.icon-completed {
  color: #{colors.$green-1};
}

.proposal-transfer-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.proposal-transfer-info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.proposal-member-info {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.proposal-item {
  align-items: center;
  display: flex;
  gap: 6px;
}

.proposal-item-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.proposal-bottom-container {
  align-items: center;
  display: flex;
  gap: 80px;
  justify-content: flex-start;
}