@use "styles/colors";

.card {
  padding: 22px 24px;
}

.token-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
}

.item {
  align-items: center;
  display: flex;
  gap: 20px;
}

.icon {
  align-items: center;
  background-color: #{colors.$grayscale-98};
  border-radius: 36px;
  display: flex;
  height: 32px;
  justify-content: center;
  width: 32px;
}

.balance {
  align-items: baseline;
  display: flex;
  gap: 4px;
}

.unlock-button {
  align-self: flex-end;
  justify-self: flex-end;
  margin-left: auto;
}