@use "styles/colors";

.root {
  display: flex;
  position: relative;
}

.step {
  color: #{colors.$grayscale-55};
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 14px;
  flex-grow: 1;
  position: relative;

  &:not(:first-child):before {
    content: '';
    border: 1px solid #{colors.$grayscale-55};
    position: absolute;
    width: calc(50% - 7px);
    top: 7px;
    left: 0px;
    z-index: 0;
  }

  &:not(:last-child):after {
    content: '';
    z-index: 0;
    border: 1px solid #{colors.$grayscale-55};
    position: absolute;
    width: calc(50% - 7px);
    top: 7px;
    right: 0;
  }
}

.active-step {
  gap: 12px;
  color: #{colors.$grayscale-0};
}


.icon {
  z-index: 1;
  color: #{colors.$purple-3};
  width: 12px;
  height: 12px;
}

.icon-active {
  width: 16px;
  height: 16px;
}

.shallow {
  color: transparent;
  border: 1px solid #7760D2;
  border-radius: 50%;
}
