@use "styles/colors";

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
  gap: 20px;
}

.proposals-title-card {
  padding: 0.875rem 1.5rem;
}

.proposals-empty-card {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.caption {
  color: #{colors.$grayscale-55};
}

