@use "styles/colors";

.card {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.title {
  align-items: center;
  display: flex;
  padding: 1rem 1.5rem;
}


.member {
  border-top: 0.0625rem solid #{colors.$grayscale-95};
  padding: 1rem 1.5rem;
}

.member-title {
  align-items: center;
  display: flex;
  padding-bottom: 0.5rem;
}

