@use "styles/colors";

.card {
  padding: 0;
}

.header {
  align-items: center;
  border-bottom: 1px solid #{colors.$grayscale-30};
  display: flex;
  justify-content: space-between;
  padding: 16px 20px;
}

.status-container {
  align-items: center;
  display: flex;
  gap: 4px;
}

.status-icon {
  height: 8px;
  width: 8px;
}

.status-icon {
  height: 8px;
  width: 8px;
}

.icon-active {
  color: #{colors.$blue-1};
}

.icon-completed {
  color: #{colors.$green-1};
}

.distance {
  color: #{colors.$grayscale-35};
}

.title-container {
  display: flex;
  gap: 6px;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 20px;
}

.logo {
  height: 24px;
  width: 24px;
  border-radius: 2px;
  margin-right: 4px;
}

.actions-container {
  position: relative;
}

.value {
  position: absolute;
  bottom: 0;
  right: 0;
}