@use 'styles/variables';

.root {

}

.top-container {
  min-height: variables.$subheader-top-container-height;
}

.bottom-container {
  min-height: variables.$subheader-bottom-container-height;
  align-items: center;
  display: flex;
  padding-left: 2.5rem;
  padding-right: 1.25rem;
}

.logo-container {
  display: block;
  position: relative;
  width: 100px;
  height: 80px;
}

.logo {
  height: 100px;
  position: absolute;
  bottom: 14px;
}

.left-container {
  align-items: center;
  display: flex;
  gap: 0.75rem;
  justify-content: flex-start;
  flex-grow: 1;
  position: relative;
}

.center-container {
  display: flex;
  gap: 12px;
  flex-grow: 1;
}

.right-container {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.navigation-icon {
  --icon-size: 18px;
}

.button-content {
  align-items: center;
  display: flex;
  gap: 0.625rem;
  justify-content: center;
}

.address-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}