@use 'styles/variables';
@use "styles/colors";

.top-container {
  min-height: variables.$subheader-top-container-height;
  position: relative;
}

.bottom-container {
  align-items: center;
  display: flex;
  min-height: variables.$subheader-bottom-container-height;
  padding-left: 2.5rem;
  padding-right: 1.25rem;
}

.logo-container {
  display: block;
  height: 80px;
  position: relative;
  width: 100px;
}

.logo {
  background-color: #{colors.$grayscale-98};
  bottom: 14px;
  height: 100px;
  padding: 12px;
  position: absolute;
}

.left-container {
  align-items: center;
  display: flex;
  flex-grow: 1;
  gap: 24px;
  justify-content: flex-start;
  position: relative;
}

.center-container {
  display: flex;
  flex-grow: 1;
  gap: 12px;
}

.right-container {
  align-items: center;
  display: flex;
  flex-grow: 1;
  gap: 8px;
  justify-content: flex-end;
}

.navigation-icon {
  --icon-size: 18px;
}


.address-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.socials {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  display: flex;
  padding: 0px 4px;
  position: absolute;
  right: 20px;
  top: 56px;
}

.social {
  align-items: center;
  display: flex;
  height: 32px;
  justify-content: center;
  width: 32px;
}