@use 'styles/variables';
@use "styles/colors";

.top-container {
  min-height: variables.$subheader-top-container-height;
}

.bottom-container {
  align-items: center;
  display: flex;
  min-height: variables.$subheader-bottom-container-height;
  padding-left: 2.5rem;
  padding-right: 1.25rem;
}

.logo-container {
  display: block;
  height: 80px;
  position: relative;
  width: 100px;
}

.logo {
  bottom: 14px;
  height: 100px;
  position: absolute;
  padding: 12px;
  background-color: #{colors.$grayscale-98};
}

.left-container {
  align-items: center;
  display: flex;
  flex-grow: 1;
  gap: 24px;
  justify-content: flex-start;
  position: relative;
}

.center-container {
  display: flex;
  flex-grow: 1;
  gap: 12px;
}

.right-container {
  align-items: center;
  display: flex;
  flex-grow: 1;
  gap: 8px;
  justify-content: flex-end;
}

.navigation-icon {
  --icon-size: 18px;
}


.address-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}