.container {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  gap: 8px;
}

.title-card {
  padding: 20px 24px;
}

.completed-card {
  padding: 20px 24px;
}

.completed-title-container {
  align-items: center;
  display: flex;
  gap: 6px;
}