.root {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0;
  width: auto;
}

.large {
  height: 2.75rem;
  min-width: 2.75rem;
}

.medium {
  height: 2rem;
  min-width: 2rem;
}

.small {
  height: 1.5rem;
  min-width: 1.5rem;
}


