@use 'styles/colors';
@use 'styles/typography';

.dropdown-title {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.dropdown-title-text {
  color: #{colors.$grayscale-55};
}

.logo {
  align-items: center;
  display: flex;
  height: 1.5rem;
  justify-content: center;
  pointer-events: none;
  position: relative;
  width: 1.5rem;
}

.button {
  gap: 0.5rem;
  min-width: 8.25rem;
  padding: 0.5rem;
}

.card {
  min-width: 15rem;
}

.wallets-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 25rem;
}

.wallets {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.hr {
  width: 100%;
  height: 0.0625rem;
  background-color: #{colors.$grayscale-95};
  border: none;
}

.wallet-button {
  gap: 1rem;
  padding: 0 1.5rem;
  align-items: center;
  justify-content: flex-start;

   > * {
    pointer-events: none;
  }
}

.disconnect-button {
  padding: 0;
  gap: 0.5rem;
  justify-content: flex-start;
}

.disconnect-title {
  color: #{colors.$red-2};
}

.disconnect-icon {
  color: #{colors.$red-2};
}
