@use "styles/colors";

.card {
  flex-grow: 1;
  height: max-content;
  max-width: 496px;
  padding: 40px 40px 0px 40px;
}

.item-container {
  border-top: 1px solid #{colors.$grayscale-90};
  padding: 40px 0px;
}

.balance {
  align-items: center;
  display: flex;
  gap: 4px;
  margin-bottom: 18px;
  margin-top: 6px;
}

.button {
  margin-top: 32px;
}

.title {
  text-align: center
}

.dialog-content {
  min-width: 520px;
}

.dialog-description {

  display: flex;
  flex-direction: column;
  gap: 32px;
}

.buttons-container {
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: space-evenly;

  > button {
    flex-basis: 0px;
    flex-grow: 1;
  }
}

.delegations-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
}

.delegation {
  align-items: center;
  border: 1px solid #{colors.$purple-3};
  border-radius: 8px;
  display: flex;
  padding: 16px;
  width: 100%;


  > span {
    display: flex;
    flex-direction: column;
    gap: 4px;

    &:nth-child(1) {
      flex-grow: 3;
    }

    &:nth-child(2) {
      flex-grow: 1;
    }

    &:nth-child(3) {
      flex-grow: 1;
    }
  }
}

.locked-balance {
  align-items: center;
  display: flex;
  gap: 4px;
}

.undelegate-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.undelegate-description {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.tabs {
  margin-bottom: 24px;
}

.collapsible {
  display: flex;
  flex-direction: column-reverse;
}

.collapsible-trigger {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.collapsible-text {
  color: #{colors.$grayscale-70};
}

.preview {
  display: flex;
  justify-content: space-between;
}