.content {
  overflow: hidden;
}

.content[data-state='open'] {
  animation: slideDown 300ms cubic-bezier(.4, 0, .2, 1)
}

.content[data-state='closed'] {
  animation: slideUp 300ms cubic-bezier(.4, 0, .2, 1)
}

@keyframes slideDown {
  from {
    max-height: 0;
  }
  to {
    max-height: 100vh;
  }
}

@keyframes slideUp {
  from {
    max-height: 100vh;
  }
  to {
    max-height: 0;
  }
}
