@use "styles/colors";

.card {
  padding: 0;
}

.content {
  padding: 32px 32px 0px 32px;
}

.vertical-break {
  background: #{colors.$purple-5};
  width: 0.0625rem;
}

.button-vote {
  padding: 0;
  width: 2.5rem;
}

.proposal-transfer-container {
  display: flex;
  gap: 2.5rem;
}

.proposal-transfer-info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.proposal-icon {
  --icon-size: 48px;
}

.proposal-title-container {
  align-items: center;
  display: flex;
}

.proposal-title-items {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-left: 1.5rem;
  width: 100%;
}

.proposal-title-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
}

.proposal-title-item-countdown {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 3rem;
}

.proposal-member-info {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.proposal-member-address {
  align-items: center;
  display: flex;
  gap: 0.625rem;
}

.proposal-vote-buttons {
  align-items: stretch;
  border-color: #{colors.$purple-5};
  border-radius: 1.5rem 0 0 0;
  border-style: solid;
  border-width: 0.0625rem 0 0 0.0625rem;
  display: flex;
  gap: 1.25rem;
  justify-content: space-between;
  margin-right: -1.5rem;
  padding: 0.875rem 2rem;
}

.proposal-vote-button-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
}

.proposal-bottom-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.democracy-proposal-actions {
  border-top: 5px solid #{colors.$grayscale-98};
  display: flex;
  justify-content: space-between;
  margin-top: 36px;
  padding: 20px 32px 20px 32px;
}

.democracy-deposit {
  align-items: center;
  display: flex;
  gap: 14px;
}

.democracy-deposit-amount {
  align-items: center;
  display: flex;
  gap: 6px;
}

.proposal-center-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.buttons-container {
  display: flex;
  gap: 20px;
}

.democracy-modal-button {
  flex-grow: 1;
}


.democracy-modal-deposit-container {
  background: #{colors.$purple-6};
  border-radius: 8px;
  display: flex;
  margin-bottom: 40px;
  margin-top: 24px;
  padding: 6px 16px;
}

.democracy-modal-deposit {
  align-items: center;
  display: flex;
  gap: 6px;
}
