@use "styles/colors";

.card {
  padding: 0;
}

.content {
  padding: 32px 32px 0px 32px;
}

.content.democracy-completed {
  padding: 32px 32px 32px 32px;
}

.vertical-break {
  background: #{colors.$purple-5};
  width: 0.0625rem;
}

.button-vote {
  padding: 0;
  width: 2.5rem;
}

.proposal-icon {
  --icon-size: 48px;
}

.proposal-title-container {
  align-items: center;
  display: flex;
}

.proposal-title-items {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-left: 24px;
  width: 100%;
}

.proposal-title-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
}

.proposal-item-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.proposal-item {
  align-items: center;
  display: flex;
  gap: 8px;
}

.proposal-member-address {
  align-items: center;
  display: flex;
  gap: 0.625rem;
}

.proposal-vote-buttons {
  align-items: stretch;
  border-color: #{colors.$purple-5};
  border-radius: 1.5rem 0 0 0;
  border-style: solid;
  border-width: 0.0625rem 0 0 0.0625rem;
  display: flex;
  gap: 1.25rem;
  justify-content: space-between;
  margin-right: -1.5rem;
  padding: 14px 32px ;
}

.proposal-vote-button-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
}

.proposal-bottom-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.democracy-proposal-actions {
  border-top: 5px solid #{colors.$grayscale-98};
  display: flex;
  justify-content: space-between;
  margin-top: 36px;
  padding: 20px 32px 20px 32px;
}

.democracy-referendum-actions {
  align-items: center;
  border-top: 5px solid #{colors.$grayscale-98};
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin-top: 36px;
  min-height: 80px;
  padding: 20px 32px 20px 32px;
  position: relative;
}

.democracy-deposit {
  align-items: center;
  display: flex;
  gap: 14px;
}

.democracy-deposit-amount {
  align-items: center;
  display: flex;
  gap: 6px;
}

.eth-governance-proposal-actions {
  align-items: center;
  border-top: 5px solid #{colors.$grayscale-98};
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin-top: 36px;
  min-height: 80px;
  padding: 20px 32px 25px 32px;
  position: relative;
}

.proposal-center-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 28px;
}

.buttons-container {
  display: flex;
  gap: 20px;
}

.democracy-modal-button {
  flex-grow: 1;
}

.button-see-all {
  padding: 0px;
}

.profile-pictures {
  display: flex;
}

.seconded-container {
  align-items: center;
  display: flex;
  gap: 10px;
}

.democracy-modal-deposit-container {
  background: #{colors.$purple-6};
  border-radius: 8px;
  display: flex;
  margin-bottom: 40px;
  margin-top: 24px;
  padding: 6px 16px;
}

.democracy-modal-deposit {
  align-items: center;
  display: flex;
  gap: 6px;
}

.second-container {
  align-items: center;
  display: flex;
  gap: 16px;
}

.bold {
  font-weight: bold;
}

.vote-no-icon {
  color: #{colors.$orange-1};
}

.vote-yes-icon {
  color: #{colors.$green-1};
}

.votes-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.referendum-vote-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.percentage {
  align-items: center;
  display: flex;
  gap: 4px;
  position: absolute;
  top: -20px;
}

.line-background {
  background-color: #{colors.$green-1};
  height: 4px;
  left: 22px;
  margin: 0;
  position: absolute;
  right: 22px;
  top: 8px;
}

.line {
  background-color: #{colors.$red-1};
  display: block;
  height: 4px;
  margin: 0;
  position: relative;

  &::after {
    background: #{colors.$grayscale-55};
    border-radius: 24px;
    content: '';
    height: 24px;
    position: absolute;
    right: 0px;
    top: -5px;
    transform: translate(0px, -5px);
    width: 1px;
  }
}

.referendum-description-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.referendum-status {
  align-items: center;
  background-color: var(--referendum-background-color);
  border-color: var(--referendum-border-color);
  border-radius: 8px 0px 8px 0px;
  border-style: solid;
  border-width: 1px 0px 0px 1px;
  bottom: 0;
  display: flex;
  height: 52px;
  justify-content: center;
  margin-bottom: -28px;
  margin-right: -32px;
  right: 0;
  width: 253px;
}

.approved {
  --referendum-background-color: #{rgba(colors.$green-1, 0.1)};
  --referendum-border-color: #{colors.$green-1};
}

.failed {
  --referendum-background-color: #{rgba(colors.$red-1, 0.1)};
  --referendum-border-color: #{colors.$red-1};
}

.pending {
  --referendum-background-color: #{rgba(colors.$green-2, 0.1)};
  --referendum-border-color: #{colors.$green-2};
}

.header {
  align-items: center;
  border-bottom: 1px solid #{colors.$grayscale-30};
  display: flex;
  justify-content: space-between;
  padding: 16px 20px;
}

.status-container {
  align-items: center;
  display: flex;
  gap: 4px;
}

.status-icon {
  height: 8px;
  width: 8px;
}

.icon-active {
  color: #{colors.$blue-1};
}

.icon-pending {
  color: #{colors.$green-2};
}

.icon-expired {
  color: #{colors.$orange-2};
}

.icon-completed {
  color: #{colors.$green-1};
}

.icon-started {
  color: #{colors.$green-2};
}

.icon-failed {
  color: #{colors.$red-1};
}

.curator-container {
  align-items: center;
  display: flex;
  gap: 40px;
  margin-top: 12px;
}

.curator {
  align-items: center;
  display: flex;
  gap: 12px;
}

.bounty {
  align-items: center;
  display: flex;
  gap: 12px
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-items {
  align-items: center;
  display: flex;
  gap: 60px;
}

.header-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.eth-status-container {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.pending-status {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

.hint-logo-icon {
  color: #{colors.$blue-1};
}
