@use 'styles/colors';

.root {
  display: flex;
  flex-direction: column;
  height: 28px;
  min-width: 28px;
  justify-content: center;
  align-items: center;
  background: #{colors.$grayscale-100};
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  gap: 6px;
  padding: 7px 12px 5px;
  color: #{colors.$grayscale-0};

  &:hover {
    color: #{colors.$purple-2};
  }
}

.with-icon {
  height: 48px;
  min-width: 48px;
}

.active-button {
  height: 54px;
  min-width: 54px;
  box-shadow: inset 0px 0px 12px rgba(102, 78, 200, 0.2);
}

.icon {
  --icon-size: 18px;
}

.active-icon {
  color: #{colors.$purple-2};
}