$white: #fff;
$black: #000;

$purple-1: #472D9F;
$purple-2: #5B40C9;
$purple-3: #7760D2;
$purple-4: #A090E0;
$purple-5: #CABFED;
$purple-6: #F2EFFB;

$grayscale-0: #000000;
$grayscale-10: #1A1A1A;
$grayscale-20: #333333;
$grayscale-25: #404040;
$grayscale-35: #595959;
$grayscale-40: #666666;
$grayscale-45: #737373;
$grayscale-55: #8C8C8C;
$grayscale-70: #B4B4B4;
$grayscale-80: #D4D4D4;
$grayscale-90: #E2E2E2;
$grayscale-95: #F2F2F2;
$grayscale-100: #FFFFFF;

$green-1: #56AB2F;
$green-2: #A8E063;
$orange-1: #FF512F;
$orange-2: #F09819;
$red-1: #FF1A1A;
$red-2: #FF7070;
$blue-1: #405EC9;
$blue-2: #EFF2FB;

$shadow-button-purple: rgba(158, 143, 221, 0.4);
$shadow-button-destructive: rgba(208, 87, 87, 0.4);