@use 'variables';

html,
body {
  font-family: variables.$main-font;
  font-size: variables.$base-font-size;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#__next {
  display: grid;
  grid-template-areas: 'sidebar header'
                       'sidebar content';
  grid-template-columns: #{variables.$sidebar-width} auto;
  grid-template-rows: #{variables.$header-height} auto;
  max-height: 100vh;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

