@use 'variables';

html,
body {
  font-family: variables.$main-font;
  font-size: variables.$base-font-size;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

