.card {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.links {
  display: flex;
  flex-direction: column;
}

.link {
  display: flex;
  gap: 8px;
  align-items: center;
}