@use "styles/colors";

.container {
  display: flex;
  gap: 20px;
  margin-top: 24px;
  padding-bottom: 40px;
  width: 100%;
}

.time-block {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.time {
  align-items: center;
  background: #{colors.$grayscale-95};
  border-radius: 8px;
  display: flex;
  height: 69px;
  justify-content: center;
  width: 89px;
}